body {
  font-size: 1.825em;
}

@media only screen and (max-width:1439px) {
    .sidetoc {
        display: none;
    }
}

@media only screen and (min-width:1440px) {
    main {
        position: relative;
    }
    .sidetoc {
        margin-left: auto;
        margin-right: auto;
        left: calc(100% + (var(--content-max-width))/4 - 140px);
        position: absolute;
    }
    .pagetoc {
        position: fixed;
        width: 200px;
        height: calc(100vh - var(--menu-bar-height) - 0.67em * 4);
        overflow: auto;
    }
    .pagetoc a {
        border-left: 0px solid var(--sidebar-bg);
        font-size: 1em;
        color: var(--fg) !important;
        display: block;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        text-align: left;
        text-decoration: none;
        font-family: monospace;
    }
    .pagetoc a:hover,
    .pagetoc a.active {
        background: var(--searchbar-bg);
        color: var(--sidebar-fg) !important;
    }
    .subcat:before {
      content: "└─ ";
      margin-left: -10px;
      font-size: 1rem;
      color: var(--sidebar-active);
    }
    .pagetoc .active {
        /* background: var(--sidebar-bg); */
        color: var(--sidebar-fg);
    }
}

@media print {
    .sidetoc {
        display: none;
    }
}
